.b-core-ui-select {
    position: relative;
    width: 60%;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    
	background-color: #fdfdfd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 253, 253)), to(rgb(234, 234, 234)));
	background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(234, 234, 234));
	background-image: -moz-linear-gradient(top, rgb(253, 253, 253), rgb(234, 234, 234));
	background-image: -o-linear-gradient(top, rgb(253, 253, 253), rgb(234, 234, 234));
	background-image: -ms-linear-gradient(top, rgb(253, 253, 253), rgb(234, 234, 234));
	background-image: linear-gradient(top, rgb(253, 253, 253), rgb(234, 234, 234));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fdfdfd', EndColorStr='#eaeaea');

    background-repeat: repeat-x;
	
    
	border: 1px solid #cacaca;
    border-radius: 2px;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 3px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 3px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 3px rgba(0, 0, 0, 0.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.b-core-ui-select__select {
    position: static;
    width: 60%;
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
}

.b-core-ui-select__value {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 25px;
}

.b-core-ui-select__select_state_hide {
    height: 1px !important;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 1px !important;
    text-indent: -9999px;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    filter: alpha(opacity = 0);
}

.b-core-ui-select:HOVER {
    color: #333333;
    background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(234, 234, 234)), to(rgb(253, 253, 253)));
	background-image: -webkit-linear-gradient(top, rgb(234, 234, 234), rgb(253, 253, 253));
	background-image: -moz-linear-gradient(top, rgb(234, 234, 234), rgb(253, 253, 253));
	background-image: -o-linear-gradient(top, rgb(234, 234, 234), rgb(253, 253, 253));
	background-image: -ms-linear-gradient(top, rgb(234, 234, 234), rgb(253, 253, 253));
	background-image: linear-gradient(top, rgb(234, 234, 234), rgb(253, 253, 253));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eaeaea', EndColorStr='#fdfdfd');
	background-repeat: repeat-x;/*
    background-position: 0 -15px;
    transition: background-position 0.1s linear;*/
}

.b-core-ui-select.focus {
    background-color: #f7f7f7;
    background-image: none;
    border-color: #ccc;
    outline: 0;
	border-color: #ffbb5a;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.2) inset, 0px 0px 4px rgba(250,190,0,0.8);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.2) inset, 0px 0px 4px rgba(250,190,0,0.8);
	box-shadow:  0px 0px 2px rgba(0,0,0,0.2) inset, 0px 0px 4px rgba(250,190,0,0.8);
}

.b-core-ui-select.open {
    border-radius: 5px 5px 0 0;
}

.b-core-ui-select.disabled,
.b-core-ui-select.disabled:ACTIVE{
    opacity: .5;
    color: #333333;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    transition: background-position 0.1s linear;
}




/*.b-core-ui-select__button {
    position: absolute;
    right: 15px;
    top: 10px;
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid #5e5c5e;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    margin-top: 7px;
    margin-left: 2px;
}*/

.b-core-ui-select__button {
    position: absolute;
    right: 1px;
    top: 0;
    display: block;
    width: 34px;
    height: 38px;
    border-left: 1px solid #c7c7c7;
	background: url(img/select-arrow.png) no-repeat center center;
    content: "";
	-moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9) inset;
	-webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9) inset;
	box-shadow:  1px 0 0 rgba(255, 255, 255, 0.9) inset;
}





.b-core-ui-select__dropdown {
    display: none;
    position: absolute;
    top: 0;
    color: #333;
    margin-top: -1px;
    padding: 0px;
    max-height: 200px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    background-color: #f7f7f7;
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.9) inset, 1px 1px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.9) inset, 1px 1px 4px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.9) inset, 1px 1px 4px rgba(0,0,0,0.2);
}

.b-core-ui-select__dropdown.hide {
    display: none;
}

.b-core-ui-select__dropdown.show {
    display: block;
}

.b-core-ui-select__dropdown__wrap {
    max-height: 200px;
    overflow: auto;
	outline: none;
}


.j-scroll-pane .b-core-ui-select__dropdown__item {
    margin-right: 20px;
}

.b-core-ui-select__dropdown__list {
    overflow: hidden;
    margin: 0!important;
}

.b-core-ui-select__dropdown__item {
    padding: 5px 10px;
    min-height: 18px;
    list-style-type: none;
    cursor: pointer;
	border-top: 1px solid #d3d3d3;
}

.b-core-ui-select__dropdown__item:first-child {
	border-top: none;
}


.b-core-ui-select__dropdown__label {
    padding: 10px;
    min-height: 18px;
    font-style: italic;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
}

.b-core-ui-select__dropdown__item.disabled,
.b-core-ui-select__dropdown__item.disabled:HOVER {
    color: orange;
    background: none;
}

.b-core-ui-select__dropdown__item.selected,
.b-core-ui-select__dropdown__item.selected:HOVER {
    background: #e4e4e4;
    color: #282828;
}

.b-core-ui-select__dropdown__item:HOVER {
    background: #FFF;
	color: #282828;
}