.col3 .block {
	background-color: rgba(230, 235, 0, 0.4);
}

#tcsa-pageblock2 .block,
#pageblock-tcsa-one .block {
	background-color: transparent;
}

.blockcontent {
	background-color: rgba(230, 235, 0, 0.4);
}

.blockpic {
	background-color: rgba(30, 200, 80, 0.4);
}

#foot-sect4 {
	height: 0px;
	padding: 0;
}

#designer-idblock { 
	display: none;
	background-color: black;
	width: 100%; 
}

.contentbox figure {
	/*background-color: pink;*/
}

/*.rtl .sideA,
.ltr .sideA,
.ltr .boxcontent,
.rtl .boxcontent   {
	background-color: rgba(30, 200, 80, 0.4);
}


.rtl .boxpic,
.ltr .boxpic,
.ltr .sideB,
.rtl .sideB {
	background-color: rgba(230, 235, 0, 0.4);
}*/

/*
.contentbox form > div,
.contentbox form fieldset > div {
	background-color: rgba(230, 235, 0, 0.4);
}

.contentbox form .label {
	background-color: rgba(30, 200, 80, 0.5);
}

.contentbox form .data {
	background-color: rgba(130, 20, 130, 0.2);
}*/


/*.two-column-layout .col-1 {
	background-color: rgba(30, 200, 80, 0.5);
}

.two-column-layout .sidebar {
	background-color: rgba(130, 20, 130, 0.2);
}*/