/* =============================================================================
     Colours
============================================================================= */

/*
 * 1. YELLOW:		#f5d321 
 * 2. GREEN: 		#96c251
 * 3. MED GREY:		#646464
 * 4. LIGHT GREY:	#828282	
 * 5. DARK GREY:	#4e4e4e	
 */
 
.hex1 { color: #f5d321 !important; }
.hex2 { color: #96c251 !important; }
.hex3 { color: #646464 !important; }
.hex4 { color: #828282 !important; }
.hex5 { color: #4e4e4e !important; }




/* =============================================================================
     Headings
============================================================================= */

h1 {}

h2 {}

h3 { 
	font-size: 1.38em; /* 22px */ 
	line-height: 1.27em; /* 28px */
	color: #285ea0;
	margin-bottom: 0.88em; /* 14px */
}

	h3 a { 
		color: #285ea0;
		text-transform: capitalize;
	}
	
	h3 a:hover { color: #96c251; }
	


.contentbox h1 { 
}

.contentbox h2 {
}

.contentbox h3 {		
	margin: 20px 0;
	font-family: 'highlandgothiclightflfregular', Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 30px;
	color: #434343;
}
	
	
.contentbox h4 {		
	margin: 0 0 30px;
	color: #434343;
	font-size: 16px;
	font-style: italic;
	font-family: 'myriad_proregular', arial, helvetica, sans-serif; 
}


	

/* =============================================================================
     Blockquotes
============================================================================= */

blockquote {
	color: #646464;
	background: url(img/symbol-quotemark.png) no-repeat left top;
	padding-left: 70px;
	min-height: 90px;
}

	blockquote p {
		padding: 25px 40px 25px 20px;
		text-align: left;
		font-style: italic;
		font-weight: lighter;
		font-size: 1.12em;
		line-height: 1.50em; /* 18px/24px */
	}
	
	.quotename { 
		display: block;
		margin: 20px 0 0;
		padding-bottom: 6px;
		font-size: 80%;
		border-bottom: 1px solid #96c251;
	}
	
.contentbox blockquote {
	margin: 40px 130px 40px 20px;
	
}
	
	.contentbox blockquote p {
		margin: 0 0 0 25px;
		padding: 25px 0;
		
	}
	
	
/* =============================================================================
     Paragraph
============================================================================= */	
	
p, 
article, 
address,
ul, ol, dl {
	color: #797979;
}

.contentbox p {
	padding-right: 10%;
	margin: 40px 0;
	line-height: 1.6;
	font-size: 1em;
	overflow: hidden;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	/*-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;*/
}

.text-overspill {
	font-size: 0.875em;
	max-width: 720px;
}
.text-overspill p {
	padding-right: 0;
}

.contentbox p strong { color: #4e4e4e; }

em {
	font-style: italic;
	color: #828282;
}

.contentbox small {
	font-size: 80%;
}

.contentbox small em {
	color: #c4c4c4;
}




/* =============================================================================
     Lists
============================================================================= */



.contentbox ul,
.contentbox ol {
	margin: 20px 0;
}

.contentbox ul li,
.contentbox ol li {
	padding: 5px 0 5px 45px;
	line-height: 22px;
	background: url(img/icon-ticksmall.png) no-repeat left 1px;
}

.contentbox ol li {
	padding: 5px 0;
	margin: 20px 40px;
	background: none;
	list-style: decimal outside;
}





/* =============================================================================
     Links
============================================================================= */

.contentbox p a {
	color: #424242;
	text-decoration: underline;
}

.contentbox p a:hover {
	color: #ffc100;
	text-decoration: none;
}


.txtlink {
	font-size: 0.875em;	
	padding-left: 20px;
	margin: 0 10px;
	background: url(img/link-arrow.png) no-repeat left center;
	vertical-align: baseline;
}

.txtlink:hover {
	color: #ffc100;
}
.txtlink:active {
	position: relative; top: 1px;
}


.linklist {
	font-size: 13px;
	margin: 20px 0;
}
	
	.linklist li a {
		/*padding: 5px 0 5px 16px;*/
		padding: 8px 0 8px 16px;
		border-bottom: 1px solid #e9e9e9;
		border-top: 1px solid #fff;
		display: block;
		margin: 0;
		/*line-height: 22px;*/
		line-height: 1.4;
		color: #666666;
		background: url(img/linklist-arrow.png) no-repeat left center;
	}
	
	.row-highlight .linklist li a {
		border-bottom-color: #eeeeee;
		border-top-color: #fcfcfc;	
	}
	
	
	
	.linklist li a:hover {
		color: #212121;
		background-position: 1px center;
	}
	
	.linklist li:first-child a {
		border-top: none;
	}
	.linklist li:last-child a {
		border-bottom: none;
	}
	
	
	
.blocklist {
	background: white;
	overflow: hidden;
	font-size: 12px;
	margin: 20px 0;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);	
}

	.blocklist li {
		display: inline;
		float: left;
		width: 50%;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	
		.blocklist li a {
			display: block;
			padding: 15px 10px 15px 36px;
			border-left: 1px solid #eeeeee;
			color: #717171;
			font-weight: bold;
			line-height: 1.2;
			background: url(img/blocklist-arrow.png) no-repeat 10px center;
		}
		.blocklist li a:hover {
			color: #464646;
			background: url(img/blocklist-arrow.png) no-repeat 11px center #fcfcfc;
		}





/* =============================================================================
     Images
============================================================================= */

figure {
	margin: 0;
}

	.contentbox figure {
		/*max-width: 280px;*/
	}
	
	.contentbox .sideB {
		margin: 30px 0;		
	}
	
	.contentbox figure img { }

figcaption {
	margin: 15px 0;
	font-size: 65%;
	font-style: italic;
	text-transform: capitalize;
	color: #c4c4c4;
}

	.contentbox figcaption {
		margin: 25px 0;
	}




/* Image Stack FX */
.imgstack,
.imgstacked  img {
	display: block;	
	width: 340px; height: 210px;
	border: 6px solid #fff;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.imgstacked {
	display: block;	
	position: relative;
	overflow: visible;
	z-index: 3;
}

	.imgstacked  img {
		position: relative;
		z-index: 3;
	}

		.imgstack {	
			position: absolute;
		}
	
		.imgstacked .l1 {
			top: -1px;
			left: -6px; 
			z-index: 1;
			background: #eeeeee;
			-webkit-transform: rotate(-3deg);
			-moz-transform: rotate(-3deg);
			-o-transform: rotate(-3deg);
			-ms-transform: rotate(-3deg);
			transform: rotate(-3deg);
		}
		
		.imgstacked .l2 {
			top: 3px;
			left: 3px; 
			z-index: 2;
			background: #e1e1e1;
			-webkit-transform: rotate(2deg);
			-moz-transform: rotate(2deg);
			-o-transform: rotate(2deg);
			-ms-transform: rotate(2deg);
			transform: rotate(2deg);
		}

.imgframe,
.block .thumbwindow img {
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.imgframe {
	border: 6px solid #fff;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}







/* =============================================================================
     Forms
============================================================================= */

#subs-signup {
	height: 47px;
	width: 178px;
	border: none;	
	padding: 0; margin: 0 0 0 5px;	
	font-size: 20px;
	font-family: 'myriad_pro_lightbold', helvetica, arial, sans-serif;	
	color: #111111;
	vertical-align: bottom;	
}

.txtbox {
	font-family: 'myriad_proregular', Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	color: #999999;
	height: 20px;
	border: 1px solid #d2d2d2;
	padding: 10px;
	background-color: #fff;
	background-image: none;
	background-position: 10px center;
	background-repeat: no-repeat;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.2) inset, 1px 1px 0 rgba(255,255,255,0.8);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.2) inset, 1px 1px 0 rgba(255,255,255,0.8);
	box-shadow:  0px 0px 2px rgba(0,0,0,0.2) inset, 1px 1px 0 rgba(255,255,255,0.8);
}



::-webkit-input-placeholder {
    color: #c5c5c5;
}

:-moz-placeholder {
    color: #c5c5c5;
}



textarea {
	min-height: 120px;
	margin-bottom: 20px;
}

.txtbox,
textarea,
email, number { 
	width: 75%;
	min-width: 200px;
	max-width: 90%;
}

.contentbox form .txtbox {
	padding-right: 40px;
}

select { 
	width: 40%;
	min-width: 120px;
	max-width: 50%;
}

.txtbox:focus,
textarea:focus,
email:focus, number:focus { 
	border-color: #ffbb5a;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.2) inset, 0px 0px 4px rgba(250,190,0,0.8);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.2) inset, 0px 0px 4px rgba(250,190,0,0.8);
	box-shadow:  0px 0px 2px rgba(0,0,0,0.2) inset, 0px 0px 4px rgba(250,190,0,0.8);
}

.agebox {
	width: 45px;
	min-width: 45px;
	max-width: 45px;
}

.postcode{
	width: 80px;
	min-width: 80px;
	max-width: 80px;
}

.contentbox form .fieldinstruction {
	font-size: 10px;
	font-style: italic;
	margin: 10px; margin-bottom: 15px;
	display: block;
	color: #999999;
}


.contentbox form fieldset {
	margin-top: 40px;
}
.contentbox form fieldset.last {
	margin-top: 20px;
}

	.contentbox form fieldset legend {
		font-family: 'myriad_proregular', Helvetica, Arial, Sans-Serif;
		font-size: 20px;
		text-transform: uppercase;
		color: #f3b100;
		line-height: 20px;
		padding-bottom: 8px;
		margin-bottom: 25px;
		border-bottom: 1px dashed #e9e9e9;
		vertical-align: baseline;
	}

.contentbox form fieldset,
.contentbox form fieldset legend,
.contentbox form fieldset > div,
.contentbox form > div  {
	float: left;
	width: 100%;
	clear: both;
}

.contentbox form fieldset > div,
.contentbox form > div {
	margin: 4px 0;
}

	.contentbox form .label,
	.contentbox form .data,
	.contentbox form .btn-container,
	.contentbox form .spacer  {
		float: left;
	}
	

	.contentbox form .label,
	.contentbox form .spacer {
		display: block;		
		width: 30%;
		min-width: 120px;
		max-width: 160px;
		text-align: right;
		font-family: 'myriad_pro_lightbold', helvetica, arial, sans-serif;
		font-size: 16px;
		color: #757575;
	}
	
	.contentbox form .label label {
		line-height: 40px;
	}
	
	.contentbox form .data,
	.contentbox form .btn-container {
		display: block;
		width: 70%;
		min-width: 300px;
		max-width: 400px;		
	}
	
	.contentbox form .data > *,
	.contentbox form .btn-container > * {
		margin-left: 20px;
	}
	
	.contentbox form .multiple label {
		margin-left: 5px;
		font-size: 14px;
		line-height: normal;
	}
	
	.contentbox form .multiple input {
		vertical-align: middle;
		position: relative; top: -1px;
	}


/* Field Validation Styles */

input:required:valid { 
	
	background: url(img/icon-valid.png) no-repeat right center #fff;
	border-color: #9dbe2a;
	color: #C5C5C5;
}

input:required:invalid, 
textarea:invalid {
	background: url(img/icon-required.png) no-repeat right center #fff;
	color: #C5C5C5;
	border-color: #C5C5C5;
}

.ui-state-error {
	color: #ed706d;
	background: url(img/icon-invalid.png) no-repeat right center #feefee !important;
	border-color: #f58c7e;

	-moz-box-shadow: 0px 0px 2px rgba(255,85,85,0.6) inset, 1px 1px 0 rgba(255,255,255,0.8);
	-webkit-box-shadow: 0px 0px 2px rgba(255,85,85,0.6) inset, 1px 1px 0 rgba(255,255,255,0.8);
	box-shadow:  0px 0px 2px rgba(255,85,85,0.6) inset, 1px 1px 0 rgba(255,255,255,0.8);
}

.form-title .success {
	
	visibility: hidden;
	
}

/* Text field on black bg */
.indent-dark .txtbox {
	background-color: #151515;
	border: 1px solid #000;
	color: #7c7b7b;
	font-size: 16px; 
	font-weight: lighter;
	background-image: url(img/icon-inputarrow.png);
	background-position: 10px center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset, 1px 1px 0 rgba(255,255,255,0.05);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset, 1px 1px 0 rgba(255,255,255,0.05);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset, 1px 1px 0 rgba(255,255,255,0.05);
}

	.indent-dark .txtbox:focus {
		border-color: #fbcc1f;
		-moz-box-shadow: 0px 0px 4px rgba(251,204,31,0.8);
		-webkit-box-shadow: 0px 0px 4px rgba(251,204,31,0.8);
		box-shadow: 0px 0px 4px rgba(251,204,31,0.8);
	}


/* =============================================================================
     Buttons
============================================================================= */

/* Default grey buttons */
.btn {
	position: relative; 
	width: auto;
	height: auto;
	display: inline-block;
	padding: 0 15px;
	margin: 0 5px 0 0;
	font-size: 11px; 
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration: none !important;
	text-shadow: 0px 1px 0px rgba(255,255,255,.9);
	line-height: 30px;
	text-align: center; vertical-align: baseline;
	color: #717171 !important;	   
	border: 1px solid #d3d3d3;	
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(249, 249, 249)), to(rgb(233, 233, 233)));
	background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;		
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.9) inset, 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.9) inset, 1px 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.9) inset, 1px 1px 2px rgba(0,0,0,0.1);
}

.btn:hover,
.btn:active {
	text-decoration: none !important;
}

.btn:active {
	top: 1px;
	text-decoration: none !important;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2) inset, 1px 1px 0px rgba(255,255,255,0.9);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2) inset, 1px 1px 0px rgba(255,255,255,0.9);
	box-shadow: 0 0 1px rgba(0,0,0,0.2) inset, 1px 1px 0px rgba(255,255,255,0.9);
}


/* Yellow CTA buttons */
.btn-style1,
.btn-style3,
.submitbtn {
	color: #464646 !important;
	text-shadow: 0px 1px 0px rgba(253,235,124,1);
	border-color: #ecac00;
	background-color: #f0b800;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 223, 89)), to(rgb(249, 196, 57)));
	background-image: -webkit-linear-gradient(top, rgb(252, 223, 89), rgb(249, 196, 57));
	background-image: -moz-linear-gradient(top, rgb(252, 223, 89), rgb(249, 196, 57));
	background-image: -o-linear-gradient(top, rgb(252, 223, 89), rgb(249, 196, 57));
	background-image: -ms-linear-gradient(top, rgb(252, 223, 89), rgb(249, 196, 57));
	background-image: linear-gradient(top, rgb(252, 223, 89), rgb(249, 196, 57));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcdf59', EndColorStr='#f9c439');	
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.4) inset, 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.4) inset, 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.4) inset, 1px 1px 2px rgba(0,0,0,0.2);
}

.btn-style3 {
	
}

.btn-style1:active,
.btn-style3:active,
.btn-style3:focus,
.submitbtn:focus {
	background-color: #f0b800;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 223, 89)), to(rgb(249, 196, 57)));
	background-image: -webkit-linear-gradient(top, rgb(252, 223, 89), rgb(249, 196, 57));
	background-image: -moz-linear-gradient(top, rgb(252, 223, 89), rgb(249, 196, 57));
	background-image: -o-linear-gradient(top, rgb(252, 223, 89), rgb(249, 196, 57));
	background-image: -ms-linear-gradient(top, rgb(252, 223, 89), rgb(249, 196, 57));
	background-image: linear-gradient(top, rgb(252, 223, 89), rgb(249, 196, 57));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcdf59', EndColorStr='#f9c439');	
	
	-moz-box-shadow: 0 0 2px rgba(240,150,70,0.7) inset, 1px 1px 0px rgba(255,255,255,0.9);
	-webkit-box-shadow: 0 0 2px rgba(240,150,70,0.7) inset, 1px 1px 0px rgba(255,255,255,0.9);
	box-shadow: 0 0 2px rgba(240,150,70,0.7) inset, 1px 1px 0px rgba(255,255,255,0.9);
}

.pagetitle-head .btn-style1:active {
	-moz-box-shadow: 0 2px 4px rgba(240,150,90,0.9) inset, 1px 1px 0px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0 2px 4px rgba(240,150,90,0.9) inset, 1px 1px 0px rgba(0,0,0,0.9);
	box-shadow: 0 2px 4px rgba(240,150,90,0.9) inset, 1px 1px 0px rgba(0,0,0,0.9);
	top: 0;
}

.btnstyle-inline {
	font-size: 10px;
	font-weight: normal;
	line-height: 20px;
	padding: 0 7px;
	vertical-align: baseline;
}

.btn-email span {
	padding-left: 24px;
	line-height: 18px;
	background: url(img/icon-email.png) no-repeat left center;
	font-weight: bold;
}

.btn-download {
	line-height: 1.2;
    padding: 8px 15px;
    font-size: 12px;
}

	.btn-download em {
		font-weight: normal;
		font-style: normal;
		color: #464646;
		display: block;
	}


.cta1 {
	font-size: 14px;
	line-height: 45px;
	padding: 0 30px;	
}
	.cta1 span,
	.cta2 span {
		font-weight: normal;
		font-family: "Helvetica Neue", helvetica, arial, sans-serif;
		padding-right: 26px;
		line-height: 18px;
		background: url(img/ctabtn-arrow.png) no-repeat right center;
	}

.cta2 {
	font-size: 18px;
	line-height: 54px;
	padding: 0 40px;	
}

.submitbtn {
	height: 58px;
	font-size: 18px;
	padding: 0 40px;
}

	
.contentbox .btn-container {
	overflow: visible;
}
.contentbox .btn-container a:first-child {
	margin-left: 0;
}
.contentbox .btn-container a {
	margin-right: 10px;
}



/* Back to Top button */
.toTop {
	position: fixed; bottom: 120px; right: 0px; z-index: 10;
	display: block;	
	height: 48px; width: 48px;
	padding: 0;	
	border-right: none;
	cursor: pointer;
	text-align: center;
	margin: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}




.toTop:hover {
	
}

.toTop span {
	text-indent: -9999px;
	background: url(img/icon-backtotop.png) no-repeat center center;
	line-height: 48px;
	display: block;	
}

.toTop:active {
	top: auto;
	bottom: 119px;
}

@media only screen and (max-device-width: 480px) {
	
	.toTop {
		display: none !important;
	}
}




/* =============================================================================
     Social Links
============================================================================= */


.social-links li a {
	height: 40px;
	width: 40px;
	display: block;
	line-height: 40px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url(img/sprites.png);
	background-repeat: no-repeat;
}	

.social-links .gplus-btn {
	background-position: -150px -100px;
}

.social-links .fb-btn {
	background-position: -70px -140px ;
}

.social-links .twitter-btn {
	background-position: -110px -140px;
}




/* =============================================================================
     MISC
============================================================================= */

.no-border {
	border: none !important;
}

hr {
	border-top: 1px dotted rgba(255,0,0,0.7);
	margin: 0;
	display: block;
	position: relative; z-index:999; margin-bottom: -1px;
	display: none;
}

.hide { display: none; }


.boxshadow { 
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}

.blockfx {
	background: white;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1);	
}

.align-right {
	float: right;
	margin: 5px 10px 10px 30px;
}

.align-left {
	float: left;
	margin: 5px 30px 10px 10px;
}

.left { float: left; }
.right { float: right; }

.centered { text-align: center; }

.centered .contentbox p {
	padding-right: 0;
}

.centered .contentbox .btn-container .btn {
	margin: 0;
}

.cta-block h3 {
	font-size: 40px;
	margin-bottom: 0;
}
.cta-block .contentbox p {
	margin-top: 20px;
}


.row-highlight {
	background-color: #f8f8f8;
}

.indent-dark {
	padding: 10px;
	background: #212121;
	border: 1px solid #0d0d0d;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset, 1px 1px 0 rgba(255,255,255,0.05);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset, 1px 1px 0 rgba(255,255,255,0.05);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset, 1px 1px 0 rgba(255,255,255,0.05);	
}


.format-icon {
	padding-left: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.format-icon.doc {
	background-image: url(img/icon-doc.png);
}

.format-icon.pdf {
	background-image: url(img/icon-doc.png);
}

.format-icon.vid {
	background-image: url(img/icon-video.png);
}




/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
	CSS written by Simon J Lee
	1st Edit 10th August 2012
//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
