
.w960 { 
	width: 960px;
	margin: auto;
}

.col3 .block {
	display: inline-block;
	float: left;
	width: 30%;
	width: 28%\0;
	margin: 40px 5% 40px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*+html .col3 .block {
    width: 28%; /* IE7 Hack */
}

.col3 .block:nth-child(3n+3) {
	margin-right: 0;
}



body { background: white; }

/* =============================================================================
     FONTS
============================================================================= */


@font-face {
    font-family: 'highlandgothiclightflfregular';
    src: url('webfonts/highlandgothiclightflf-webfont.eot');
    src: url('webfonts/highlandgothiclightflf-webfont.eot?#iefix') format('embedded-opentype'),
url('webfonts/highlandgothiclightflf-webfont.woff') format('woff'),
url('webfonts/highlandgothiclightflf-webfont.ttf') format('truetype'),
url('webfonts/highlandgothiclightflf-webfont.svg#highlandgothiclightflfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'myriad_proregular';
    src: url('webfonts/mpro-reg-webfont.eot');
    src: url('webfonts/mpro-reg-webfont.eot?#iefix') format('embedded-opentype'),
url('webfonts/mpro-reg-webfont.woff') format('woff'),
url('webfonts/mpro-reg-webfont.ttf') format('truetype'),
url('webfonts/mpro-reg-webfont.svg#myriad_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_pro_lightbold';
    src: url('webfonts/mpro-semibold-webfont.eot');
    src: url('webfonts/mpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('webfonts/mpro-semibold-webfont.woff') format('woff'),
url('webfonts/mpro-semibold-webfont.ttf') format('truetype'),
url('webfonts/mpro-semibold-webfont.svg#myriad_pro_lightbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_probold';
    src: url('webfonts/myriadpro-bold-webfont.eot');
    src: url('webfonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('webfonts/myriadpro-bold-webfont.woff') format('woff'),
url('webfonts/myriadpro-bold-webfont.ttf') format('truetype'),
url('webfonts/myriadpro-bold-webfont.svg#myriad_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_proitalic';
    src: url('webfonts/mpro-italic-webfont.eot');
    src: url('webfonts/mpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
url('webfonts/mpro-italic-webfont.woff') format('woff'),
url('webfonts/mpro-italic-webfont.ttf') format('truetype'),
url('webfonts/mpro-italic-webfont.svg#myriad_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
	HEADER
//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* =============================================================================
     Main Headerbar
============================================================================= */

#headstrip {	
	border-top: 1px solid #f5d321;
	position: relative; z-index: 5;
	background: url(img/bg-headerplate.png) no-repeat top center #282828;
	-moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);		
}

	#pagetop > div { 
		position: relative;
		height: 79px;
	}
	
		#pagetop hgroup {
			width: 160px;
		}
	
	
		#sitelogo,
		#sitelogo a {
			display: block;
			width: 160px; height: 130px;
		}
	
		#sitelogo {			
			position: absolute; top: 0; left: 0; z-index: 2;
			background: url(img/tile-logoplate.png) repeat #252525;
			-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
			-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);	
		}
		
			#sitelogo a {
				background: url(img/logo-header.png) no-repeat center center;
				text-indent: -9999px;
			}
		
		
		#pagetop .strapline {
			display: none;
		}		
		
		
		#pagetop .sponsor-plate,
		#pagetop .sponsor-plate .sponsor-ident {
			display: block;
			width: 150px; height: 66px;
		}
		
		#pagetop .sponsor-plate {			
			background: url(img/tile-sponsorplate.png) repeat-x top #1f1f1f;		
			position: absolute; right: 0; bottom: -90px;
			-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
			-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);	
		}
		
			.sponsor-plate .sponsor-ident {
				font-size: 0; 
				color: transparent;
				background: url(img/logo-mainsponsor.png) no-repeat center center;
			}



/* =============================================================================
     NAV
============================================================================= */

nav > ul > li { 
	display: inline;
	margin: 0 1.25em; /* 10px */
	float: left;
	position: relative;
}

	nav > ul > li > a { 
		display: inline-block;
		padding: 0 .31em; /* 5px */	
	}


/* Global Menu 'Top' */
#pagetop-menu { 
	margin-left: 180px; padding-top: 0px;
}

#pagetop-menu > ul { 		
	height: 79px;
	font-family: 'myriad_proregular', arial, helvetica, sans-serif;
	font-weight: lighter;
}		
		
	#pagetop-menu > ul > li { 			
			margin: 0 20px 0 0; /* 10px */
			font-size: 13px;
			text-transform: uppercase;
			height: 29px;
			padding-top: 50px;
		}
		
			#pagetop-menu > ul > li > a { 
				padding: 0 5px;
				
				letter-spacing: 0.03em;
				line-height: ; 
				color: white;
			}
			
			#pagetop-menu > ul > li > a:hover {
				color: #cccccc;
			}
			
			#pagetop-menu > ul > li.active > a {
				color: #abcd44;
				background: url(img/icon-menu-indicator.png) no-repeat center bottom;
			}
			
			
		#pagetop-menu ul > li.first > a { 
			/*text-indent: -9999px;
			background: url(img/icon-home.png) no-repeat center center;*/				
		}	
		
		
		#pagetop-menu ul li.last { 
		}
			
			#pagetop-menu ul li.last a { 
							
			}
			
		#pagetop-menu ul li.login { 
			position: absolute; top: -50px; right: 0;
		}
			
			#pagetop-menu ul li.login a { 
				color: #fdc300;
				font-weight: lighter;
				background: url(img/icon-logintag.png) no-repeat top right;
				padding-right: 40px;
				line-height: 30px;			
			}


/* Sub Menu 'Dropdown' */
.submenu {
	display: block;
	padding: 10px 0;
	font-size: 13px; /* 14px */
	background: #fff;
	background: rgba(255,255,255,.95);
	-moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);	
}

.mainmenu .submenu {
	position: absolute; top: 79px; /* 60px */ left: 0px; z-index: 3;
	width: 22.5em; /* 360px */
	visibility: hidden;
}

	.mainmenu li:hover > .submenu { 
		visibility: visible; 
	}
		
		.submenu li a {
			padding: 5px 0 5px 25px;
			border-top: 1px dotted #cecece;
			display: block;
			margin: 0 15px;
			line-height: 35px ;
			color: #6c6c6c;
			background: url(img/blocklist-arrow.png) no-repeat left center;
		}
		
		.submenu li a:hover {
			color: #ffb400;
			background: url(img/blocklist-arrow.png) no-repeat 1px center;
		}
		
		.submenu li:first-child a {
			border-top: none;
		}
		
		.submenu li:last-child a {
			padding-bottom: 0;
		}
	
	/* Submenu after 1st level */	
	.mainmenu .submenu ul {
		left: 99%;
		width: 16.25em; /* 260px */
		font-size: 12px;
		top: 50px;
		visibility: hidden;
	}
	
		.mainmenu .submenu ul li a {
			line-height: 35px ;			
		}



/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
	MAIN SECTION
//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#mainsection { 
	background-color: white;
}





/* =============================================================================
     BANNER
============================================================================= */

#BANNER {
	background-color: #cfcfcf;
	background: url(/assets/img/banner/slide-1.jpg) no-repeat center; 
}

	#home-banner {	
		position: relative;
		height: 430px;
	}
	
		#home-banner img {	
			width: 100%;
			display: none; 
		}
		
			.banner-message-block {
				position: relative;
				height: 370px;		
			}
		
				.overlay-screen {
					/*background-color: rgba(255,255,255,0.9);
					padding: 20px;*/
					position: absolute; bottom: 20px; left: 20px;					
					width: 60%;
				}
				
				.banner-text {
					margin-bottom: 10px;
				}
				
				.overlay-screen h1 {
					background-color: rgba(255, 255, 255, 0.8);
					padding: 20px; margin-bottom: 10px;
					font-size: 36px; line-height: 1.2;
					color: #282828;
					font-family: 'highlandgothiclightflfregular', Arial, Helvetica, sans-serif;
				}
				
				.overlay-screen h2 {
					background-color: rgba(255,255,255,0.9);
					padding: 20px 60px 20px 20px;
					font-size: 18px; line-height: 1.2;
					font-family: 'myriad_proregular', Arial, Helvetica, sans-serif;
				}
			
				.overlay-screen .btn {
					position: absolute; right: -350px; bottom: 10px;
					border: none;
					padding: 20px 60px;
					/*line-height: 83px;*/
					font-size: 30px;
					line-height: 1.4;
				}
				
				.overlay-screen .btn span {
					display: block;
					font-weight: normal;
					font-size: 16px;
					padding: 0; 
					background: none;
				}
				
				.overlay-screen .btn:active {
					top: auto; bottom: 10px;
					border: 1px solid #f5d321;
					color: #fff !important;
					text-shadow: none;
					background-color: #2a2a2a;
					background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(42, 42, 42)), to(rgb(27, 27, 27)));
					background-image: -webkit-linear-gradient(top, rgb(42, 42, 42), rgb(27, 27, 27));
					background-image: -moz-linear-gradient(top, rgb(42, 42, 42), rgb(27, 27, 27));
					background-image: -o-linear-gradient(top, rgb(42, 42, 42), rgb(27, 27, 27));
					background-image: -ms-linear-gradient(top, rgb(42, 42, 42), rgb(27, 27, 27));
					background-image: linear-gradient(top, rgb(42, 42, 42), rgb(27, 27, 27));
					filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2a2a2a', EndColorStr='#1b1b1b');
					-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.0) inset, 1px 1px 2px rgba(0,0,0,0.4);
					-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.0) inset, 1px 1px 2px rgba(0,0,0,0.4);
					box-shadow: 0px 1px 0px rgba(255,255,255,0.0) inset, 1px 1px 2px rgba(0,0,0,0.4);
				}
				
				.overlay-screen .btn:active span {
					color: #f5d321 !important;
				}



				
/* Banner inner page default */			
.banner-default#BANNER {
	background: url(/assets/img/page-banners/page-banner.jpg) no-repeat center #949494; 
}

	#page-banner {	
		position: relative;
		height: 240px;
	}
	
	
	


/* Banner overlay pattern */
.banner-patternfx {
	position: absolute;
	width:100%;
	background: url(img/tile-transparentdots.png) repeat rgba(0,0,0,0.01);
}

.banner-patternfx.topstrip {
	top: 0; height: 10px;
}

#page-banner .bottomstrip {
	bottom: 0;
	height: 55px;
}



/* News Ticker */
#newsbar,
#newsbar .icon-cal,
#newsbar .newsticker,
#newsbar .social-links li { 
	height: 60px;
}

#newsbar { 
	overflow: hidden; 
	border-top: 1px solid #f5d321;
	background-color: #2a2a2a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(42, 42, 42)), to(rgb(27, 27, 27)));
	background-image: -webkit-linear-gradient(top, rgb(42, 42, 42), rgb(27, 27, 27));
	background-image: -moz-linear-gradient(top, rgb(42, 42, 42), rgb(27, 27, 27));
	background-image: -o-linear-gradient(top, rgb(42, 42, 42), rgb(27, 27, 27));
	background-image: -ms-linear-gradient(top, rgb(42, 42, 42), rgb(27, 27, 27));
	background-image: linear-gradient(top, rgb(42, 42, 42), rgb(27, 27, 27));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2a2a2a', EndColorStr='#1b1b1b');
}

	#newsbar .icon-cal {
		width: 59px;
		border-right: 1px solid #0e0e0e;
		background: url(img/icon-newsbarcal.png) no-repeat center center;
	}


	.newsticker { 
		border-left: 1px solid #303030;
		max-width: 600px;
	}
	
		.post { 
			display:none; 
			padding:10px;
			line-height: 40px;
			font-size: 14px;
		}
		
			.post a {
				color: white;
				padding-left: 18px;
				background: url(img/link-newsarrow.png) no-repeat left 1px;				
			}
			.post a:hover { color: #f5d321; }
	
	
	/* Newsbar Social links */
	#newsbar .social-links {
		border-left: 1px solid #303030;
		float: right;
	}
	
		#newsbar .social-links li {
			float: right;
			width: 59px;
			border-right: 1px solid #303030;
			border-left: 1px solid #0e0e0e;
		}
		
		#newsbar .social-links a {
			display: block;
			color: white;
			font-size: 11px;
			text-align: center;
			vertical-align: middle;
			line-height: 60px;
			height: 60px;
			width: 58px;
		}
		
		#newsbar .social-links .gplus-btn {
			background: #db5a3c;
		}
		
		#newsbar .social-links .fb-btn {
			background: url(img/social-fb-newsbar.png) no-repeat center center transparent;
		}
		
		#newsbar .social-links .twitter-btn {
			background: url(img/social-twitter-newsbar.png) no-repeat center center transparent;
		}
	
	



/* =============================================================================
   	BANNER BLOCKS
============================================================================= */

#home-blocks { 
	margin-top: -85px;
	padding: 0 0 30px;
}

	#home-blocks .block {
		border-top: 1px solid #f5d321;
		width: 300px;
		margin: 0 10px;
		background-color: transparent;
	}
		
		#home-blocks .block img {
			max-width: 300px;
		}
	
		#home-blocks h2 {
			text-transform: uppercase;
			color: #515151;		
			font-weight: lighter;
			border-bottom: 1px solid #fbc616;
			padding-left: 70px;
			background-repeat: no-repeat;
			background-image: url(img/section-icons.png);
		}
		
		#home-blocks .item1 h2 {
			background-position: left top;
		}
		#home-blocks .item2 h2 {
			background-position: left center;
		}
		#home-blocks .item3 h2 {
			background-position: left bottom;
		}
		
			#home-blocks h2 span {
				font-weight: lighter;
				font-size: 22px;
				line-height: 60px;
				font-family: 'myriad_proregular', arial, helvetica, sans-serif;			
			}
			
				#home-blocks h2 span em {
					font-style: normal;
				}
		
		
		#home-blocks .block p {
			padding: 30px 0;
			font-size: 14px;
			color: #a2a2a2;
		}
		
		#home-blocks .block .btn-container {
			padding: 0;
			text-align: center;
		}
		
		




/* =============================================================================
     Page Layout
     * 1.	1 Column full width
     * 2.	2 Column with sidebar
============================================================================= */


/* Page Title Bar */
.pagetitle-head,
#tcsa-section0 {
	background-color: #282828;
	height: 100px;
}

	#tcsa-section0 {
		background-color: transparent;	
		padding: 0;
		border: none;
		position: relative;
	}
	
		.pagetitle-head .page-title {
			font-size: 36px;
			font-family: 'highlandgothiclightflfregular', Arial, Helvetica, sans-serif;
			letter-spacing: 0.03em;
			color: #a2a2a2;
			line-height: 92px;
			float: left;
		}
		
		.pagetitle-head .btn {
			float: right;
			font-size: 110%;
			margin: 22px 0 0 0;
		}
		
		#tcsa-section0 .social-links {
			position: absolute; right: 0px; bottom: -40px;
		}
		
		#tcsa-section0 .social-links li,
		#tcsa-section0 .social-links li a {
			height: 40px; width: 40px;
			display: block;
			line-height: 40px;
		}
		#tcsa-section0 .social-links li {
			float: right;
		}







.page-caption {
	font-size: 34px;
	color: #515151;
	font-weight: normal;
	font-family: 'myriad_proregular', Arial, Helvetica, sans-serif;
	font-style: italic;
	line-height: 1.2;
	padding: 25px 0;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	margin: 60px 0;
	width: 100%;
}

	.page-caption:first-child {
		margin-top: 20px;
	}

.section-intro {
	width: 660px;
	margin-right: 60px;
	float: left;
}

.page-intro .linklist {
	width: 240px;
	margin-top: -7px;
	float: right;
}

.section-intro p,
.contentbox p {
	padding-right: 10%;
	margin: 40px 0;
	line-height: 1.6;
	font-size: 1em;
	overflow: hidden;
}
	.section-intro p:first-child,
	.contentbox p:first-child {
		margin-top: 0;
	}

.section-intro .overspill-trigger,
.contentbox .overspill-trigger {
	margin: 20px 0;
	display: block;
	width: 80px;
}



/* =============================================================================
     1.	1 Column full width
============================================================================= */





/* =============================================================================
     2.	2 Column with sidebar
============================================================================= */

.two-column-layout .col-1 {
	float: left;
	width: 70%;
}


/* =============================================================================
     SIDEBAR
============================================================================= */

.two-column-layout .sidebar {
	float: right;
	width: 25%;
	margin-left: 5%;
}

.two-column-layout .sidebar .sideblock {
	margin: 0;
	padding: 40px 0;
	border-bottom: 1px solid #e9e9e9;
}

.two-column-layout .sidebar .sideblock.item1 {
	margin-top: 100px;
	padding-top: 0;
	border-top: none;
}


	/* Sidebar Specific */
	
	/* COACH ID TAG */
	.two-column-layout .sidebar .coach-idtag  {
		margin: 0;
	}

		.two-column-layout .sidebar .coach-idtag .coach-label {
			margin-left: 10px;
			line-height: 1.2;
		}
	
		.two-column-layout .sidebar .coach-idtag .coach-avatar img {
				width: 50px; height: 50px;
			}	
			
		.two-column-layout .sidebar .coach-idtag .staff-title {
				font-size: 13px;
			}
			
		.two-column-layout .sidebar .coach-idtag .staff-name {
			font-size: 20px;
		}
			
		.two-column-layout .sidebar .coach-idtag .btnmessage {
			font-size: 10px;
			line-height: 20px;
			margin: 10px 0;
		}
		
		
	/* Social Tags */
	.sidebar .shareplate {	
	
	}
	
	.shareplate > * {
		float: left !important;
		margin-right: 5px !important;
	}
		


	.contact-wrap {
		margin-left: 20px;
	}
	
	
	.contact-wrap .p,
	.contact-wrap h5 {
		margin: 10px 0;
	}
	
		.contact-wrap .smalltxt {
			display: block; 
			font-size: 13px;
		}
		
		.contact-wrap strong {
			font-size: 20px;
			color: #434343;
			font-family: 'highlandgothiclightflfregular', Arial, Helvetica, sans-serif;
			font-weight: normal;
			letter-spacing: 0.05em;
		}
	
	.contact-wrap h5,
	.mapbox .contact-wrap .address-tag {
		font-size: 12px;
		color: #434343;
		font-weight: normal;
	}
	
		.contact-wrap h5 em {
			font-weight: bold;
			font-style: normal;
			color: #434343;
		}

		

.product-adblock {
	text-align: center;
}

.product-adblock img { width: 100%; height:100%; }
.product-adblock small { font-size: 10px; display: block; margin: 10px 0; }



/* =============================================================================
     CONTENT SECTION
============================================================================= */

.content-container { 
}

#CONTENT { 
}

#CONTENT article:first-child {
}



.TandCs .contentbox h4 {
	font-size: 20px;
	margin: 80px 0 -20px;
}

.TandCs .contentbox h4:first-child {
	margin-top: 20px;
}


.TandCs .contentbox p,
.TandCs .contentbox ul,
.TandCs .contentbox ol {
	font-size: 14px;
	padding-right: 10%;
}

.TandCs .contentbox ul li strong,
.TandCs .contentbox ol li strong {
	color: #434343;
}


#pageFAQs .contentbox {
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #fff;
	padding: 20px 0;
}

#pageFAQs .faqlist .contentbox:last-child  {
	border-bottom: none;
}


#pageFAQs .contentbox h3 {
	font-size: 22px;
	background: url(img/icon-faq-q.png) no-repeat left 3px;
	padding: 0 25% 0 40px;
}

#pageFAQs .contentbox p {
	background: url(img/icon-faq-a.png) no-repeat left  3px;
	padding: 0 10% 0 40px;
}

#pageFAQs .section-intro {
	width: 80%;
}

#pageFAQs .cta-block .contentbox,
#pageFAQs .page-intro .first .contentbox,
#pageFAQs .page-intro .first .contentbox p {
	border-bottom: none;
	border-top: none;
	padding: 0;
}

#pageFAQs .cta-block .contentbox p,
#pageFAQs .cta-block .contentbox h3,
#pageFAQs .page-intro p {
	background: none;
}

#pageFAQs .cta-block .contentbox h3 {
	font-size: 40px;
	padding: 0;
}
#pageFAQs .cta-block .contentbox p {
	padding: 0;	
}



#pageFAQs .page-intro .linklist {		
	float: left;
	width: 100%;
}

	#pageFAQs .page-intro .linklist li {		
		float: left;
		width: 50%;
	}
	
	#pageFAQs .page-intro .linklist li:first-child a {		
		border-top: 1px solid #fff;
	}
	#pageFAQs .page-intro .linklist li:last-child a {
		border-bottom: 1px solid #e9e9e9;
	}
	
	
/* =============================================================================
    BLOGPOSTS
============================================================================= */
	
.blog-layout .blogposts .contentbox {
	margin: 0;
	padding: 20px 0;
	border-top: 1px solid #e9e9e9;	
}
	.blog-layout .blogposts .contentbox:first-child {
		margin-top: 0px;
		padding-top: 0;
		border-top: none;	
	}
	
	
.blog-layout .blogposts .contentbox h3 {
	padding-right: 20%;
}	

.blogposts .datestamp,
.blogposts .datestamp span {
	font-style: italic;
	color: #9d9d9d;
}
.blogposts .datestamp span {
	color: #434343;
}

.blog-layout .blogimage .imgstack,
.blog-layout .blogimage .imgstacked img {
	width: 500px;
	height: 210px;
}


.blogposts .shareplate > * {
	float: left !important;
	margin-right: 5px !important;
}

.blogposts .shareplate h4,
.blogposts #fbcomment-block h4 {
	clear: both;
	width: 100%;
	margin: 0 0 10px;
}


.blog-layout#pageEVENTS .blogimage .imgstack,
.blog-layout#pageEVENTS .blogimage .imgstacked img {
	width: 600px;
	height: 100%;
}

.blog-layout#pageEVENTS .blogimage figcaption {
	margin: 46px 0;
}





/* =============================================================================
    SECTION BLOCKS
	
	Abbreviations
	* cb = Content Block
	* ltr = Left to Right
	* rtl = Right to Left
============================================================================= */

.section-row-container > .w960 {
	padding: 40px 0;
	border-bottom: 1px solid #eaeaea;
}

.section-row-container.last > .w960 {
	border-bottom: none;
}


.rtl .boxcontent,
.ltr .boxpic,
.rtl .sideB,
.ltr .sideA  {
	float: left;
}

.ltr .boxcontent,
.rtl .boxpic,
.rtl .sideA,
.ltr .sideB  {
	float: right;
}

.boxcontent,
.sideA,
.promovid .boxpic {
	width: 60%;
}

/*.boxpic,
.sideB,*/
.promovid .boxcontent {
	width: 40% !important;
}

.rtl .sideA > * {
	margin-left: 20px;
}


.boxcontent .boxintro  { margin: 0 20px 20px; }

	.boxcontent .boxheadline  {
		font-family: 'highlandgothiclightflfregular', Arial, Helvetica, sans-serif;
		font-size: 30px;
		font-weight: lighter;
		margin: 0 0 40px;
		line-height: 1.2;
	}
	
	.boxcontent .boxblurb  {
		font-family: 'myriad_proregular', Arial, Helvetica, sans-serif;
		font-size: 18px;
		line-height: 1.4;
		font-weight: lighter;
		margin: 0 0 40px;
		color: #797979;
	}


.boxcontent .btn-container  { margin: 20px; }
.boxpic .btn-container { margin: 10px 0; }

.boxcontent .btn-container .btn:first-child,
.boxpic .btn-container .btn:first-child { margin-left: 0; }

.promovid .boxcontent .btn-container {
	text-align: center;
}


/* Box Column Grid */


.boxgrid {
	
}

.boxgrid .title,
.sideblock .title {
	font-size: 20px;
	font-family: 'myriad_proregular', Helvetica, arial, sans-serif;
	color: #6c6c6c;
	line-height: 2;
	vertical-align: middle;
	text-transform: uppercase;
	padding-left: 60px;
	margin-bottom: 45px;
	min-height: 60px;
	background-image: url(img/sectionheaders.png);
	background-repeat: no-repeat;
}

	.sideblock .title {
		margin-bottom: 10px;
	}

	.boxgrid .title br,
	.sideblock .title br {
		display: none;
	}

	.boxgrid .title span,
	.sideblock .title span {
		font-size: 13px;
		line-height: 0;		
		color: #989898;
		text-transform: capitalize;
		display: block;
	}
	
	
	
.t-staff {
	background-position: 0 0;
}

.t-prog {
	background-position: 0 -100px;
}

.t-blog {
	background-position: 0 -200px;
}

.t-contact {
	background-position: 0 -300px;
}

.t-faq {
	background-position: 0 -400px;
}

.t-map {
	background-position: 0 -500px;
}


.boxgrid .linklist {
	margin-top: -10px;
}


/* Coache/Staff Profiles */
.coach-idtag {
	margin: 20px 0 40px;
}

	.coach-idtag li {
		float: left;
		font-family: 'myriad_proregular', helvetica, arial, sans-serif;	
	}

	.coach-idtag .coach-label {
		margin-left: 18px;
		line-height: 1.2;
	}
	
		.staff-title {
			text-transform: uppercase;
			font-size: 14px;
			color: #a3a3a3;
		}
		
		.staff-name {
			font-size: 24px;
			color: #4d4d4d;
		}
		
		
		.coach-label .twitter-follow-button {
			margin: 10px 0;
		}
	

.boxgrid #cb-courses .linklist {
	margin-left: 20px; margin-right: 20px;
}
	
	
	
/* Blog Posts */	
.blogpost {
	
}

	.blogpost .blogthumb {
		position: relative;
		overflow: hidden;
		display: block;
		width: 220px; height: 135px;
		margin: 0 0 10px;	
	}
	
		.blogpost .blogthumb img {
			height: auto; width: 100%;	
		}
	
		.blogpost .blogthumb .bloglink-arrow {
			display: block;
			width: 40px; height: 90px;
			background: #282828;
			background: url(img/bloglink-arrow.png) no-repeat center center rgba(0,0,0,0.8);
			position: absolute; right: -35px; top: 10%; bottom: 10%;
			margin: auto; 
			-moz-transition: right .1s linear .1s;
			-webkit-transition: right .1s linear .1s;
			transition: right .1s linear .1s;
			
		}
		
		.blogpost .blogthumb:hover .bloglink-arrow {
			right: 0; 	
		}
		
	.blogpost .datestamp,	
	.blogpost .blog-headline,
	.blogpost .blog-summary {
		margin: 0 10px 10px 0;
		padding-right: 10px;
	}
	
	.blogpost .datestamp {
		font-size: 12px;
		color: #aaaaaa;
	}
	
	.blogpost .blog-headline,
	.blogpost .blog-headline a {
		font-size: 18px;
		color: #4d4d4d;
		font-family: 'myriad_proregular', helvetica, arial, sans-serif;	
	}
	.blogpost .blog-headline a:hover {
		color: #edac00;
	}
	
	.blogpost .blog-summary {
		font-size: 12px;
		color: #737373;
	}


.boxgrid #cb-blog .blogpost,
.boxgrid #cb-blog .blogpost .blogthumb {
	width: 280px;
}	

.boxgrid #cb-blog .blogpost .blogthumb {
	height: 173px;
}
	
	
	
	
	
	
	
	
.block h3 {
	margin: 30px 0 20px;
	font-family: 'highlandgothiclightflfregular', Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 18px;
	color: #515151;
}

.block p {
	margin: 0 0 30px;
	font-size: 15px;
	color: #797979;
}

.block .thumbwindow img {
	margin: auto;
	display: block;
	position: relative;
}

.block .btn {
	margin: 0;
}


	
.watermark-row {
	/*border-top: 1px solid #EAEAEA;*/
	background-color: white;
}
	
	
.strapline-logo {
	display: block;
	width: 280px; height: 100px;
	margin: 40px auto;
	background:url(img/strapline-logo.png) no-repeat center center;
	font-size: 0; color: transparent;
}


		
		
		
		
		
		



/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
	FOOTER
//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#page-footer {
	border-top: 12px solid #dcdcdc;
}


/* =============================================================================
     Footer Section 1: Newsletter Subscribtion
============================================================================= */

#foot-sect1 {
	min-height: 150px;
	background: url(img/bg-footersect1.png) no-repeat center top #181818;
	position: relative; z-index: 3;
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);	
}

	#foot-sect1 > div {
		padding: 20px 0;
	}
	
		#foot-sect1 #subForm,
		#foot-sect1 .small {
			width: 600px;
			display: block;
			margin: auto;
		}
		
		#foot-sect1 #subForm {
			margin-bottom: 12px;
		}
		
		#foot-sect1 #subForm .txtbox {
			width: 60%;
			padding-left: 40px;
			height: 25px;
		}
		
		#foot-sect1 #subForm h4,
		#foot-sect1 #subForm label {
			display: none;
		}
		
		
		#foot-sect1 .small {
			font-size: 12px;
			font-style: normal;
			color: #606060;
			text-shadow: 1px 1px 0 rgba(0,0,0,.9);
			text-align: center;
		}















/* =============================================================================
     Footer Section 2: Logo Strip
============================================================================= */

#foot-sect2 {
	background: #1c1c1c;
	position: relative; z-index: 2;
	-moz-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.9);
	box-shadow: 0 3px 18px rgba(0, 0, 0, 0.9);	
}

	/* Accreditation Logos */	
	.accreditation-logos {
		padding: 15px 0;
	}
	
		.accreditation-logos li { 
			float: left;
			height: 65px;
			padding: 0 10px;		
			line-height: 65px; vertical-align: middle;
			border-left: 1px solid #272727;
			border-right: 1px solid #000;		
		}
		
		.accreditation-logos li.first { border-left: none; }
		.accreditation-logos li.last { border-right: none; }
		
			.accreditation-logos li a {
				display: block;
			}
			
			
		.accreditation-logos .sponsor { padding: 0 20px; }
		
			.accreditation-logos .sponsor span,
			.accreditation-logos .sponsor br {
				display: none;			
			}



	/* Footer Social Links */
	#footer-social-block {
		padding: 25px 0;
	}
	
		#footer-social-block > * {
			float: left;
		}
		
		#footer-social-block h5 {
			color: #858585;
			font-family: 'highlandgothiclightflfregular', Helvetica, Arial, Sans-Serif;
			letter-spacing: 0.05em;
			text-shadow: 1px 1px 0 rgba(0,0,0,.9);
			line-height: 40px;
		}
	
			#footer-social-block .social-links li {
				float: right;
				margin-left: 10px;
				line-height: 40px;
			}
			
				#footer-social-block .social-links li a {
					height: 40px;
					width: 40px;
					line-height: 40px;
					text-indent: -9999px;
					background-color: transparent;
					background-image: url(img/sprites.png);
					background-repeat: no-repeat;
					border: 1px solid #000;					
					-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset, 1px 1px 0 rgba(255,255,255,0.05);
					-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset, 1px 1px 0 rgba(255,255,255,0.05);
					box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset, 1px 1px 0 rgba(255,255,255,0.05);
					
				}
				
				#footer-social-block .social-links li a:active {
					-moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.1) inset, 1px 1px 2px rgba(0,0,0,0.8);
					-webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.1) inset, 1px 1px 2px rgba(0,0,0,0.8);
					box-shadow: 1px 1px 0 rgba(255,255,255,0.1) inset, 1px 1px 2px rgba(0,0,0,0.8);
				}		
				
				#footer-social-block .social-links .gplus-btn {
					background-position: -150px -100px;
				}
				
				#footer-social-block .social-links .fb-btn {
					background-position: 0px -100px ;
					width: 110px;
				}
				
				#footer-social-block .social-links .twitter-btn {
					background-position: -110px -100px;
				}



/* =============================================================================
     Footer Section 3: Sitemap and Disclaimer information
============================================================================= */

#foot-sect3 {
	background: url(img/bg-footergreyscale.jpg) no-repeat center top #414141;
	position: relative; z-index: 1;
	min-height: 167px;
}

	#footer-menu {
		padding: 50px 0 10px 0;
	}
	
		#footer-menu ul li { 			
			margin: 0;
		}
			
			#footer-menu ul li a { 
				padding: 0 19px 0 20px;
				font-size: 13px;
				color: #f5f5f5;
				border-left: 1px solid #f5d321;
			}
			
			#footer-menu ul li a:hover {
				color: #f5d321;
			}
			
			#footer-menu ul li.first a {
				padding-left: 0;
				border-left: none;
			}
				
		#footer-menu .submenu { 
			display: none; /* Hides sub menu flyout from footer nav */
		}
		
		
		

	/* Address Block */
	#disclaimer-strip { 
		font-family: verdana;	
		color: #b5b5b5;
		position: relative;
		font-size: 11px;	
		}
		
		#disclaimer-strip a { color: #dedede; }
		#disclaimer-strip a:hover { color: #fff }
		
		.disclaimer-links li {
			float: left;
			width: auto;
			margin-right: 20px;
			line-height: 1.6;
		}
		
		.disclaimer-links .first {
			clear: both;
			display: block;
			width: 100%;
			margin: 0;
		}
		
		.disclaimer-links .newline,
		.disclaimer-links .last {
			margin-top: 15px;
		}
		
		.disclaimer-links .last {			
			padding-left: 20px;
			margin-left: -4px;
			background: url(img/bullet1.png) no-repeat left center;
		}
		
		.disclaimer-links .newline {
			clear: left;
			display: block;		
		}		
		
			.disclaimer-links br {
				display: none;
			}		
			
			#disclaimer-strip small,
			#disclaimer-strip .copyright {
				color: #898989;
			}
				
			#disclaimer-strip small {
				font-size: 11px;
			}
			
			
			
			
		.disclaimer-links .icon-email,
		.disclaimer-links .icon-tel {
			line-height: 18px;
			vertical-align: bottom;
			display: inline-block;
			padding-left: 20px;
			font-size: 0; color: transparent;
			background-position: left center;
			background-repeat: no-repeat;
		}
		
		.disclaimer-links .icon-tel {			
			background-image: url(img/icon-phone-footer.png);
			padding-left: 13px;			
		}
		
		.disclaimer-links .icon-email {
			background-image: url(img/icon-email-footer.png);
		}
		
		
		
		.footer-logo {
			position: absolute; right: 0; bottom: -3px;			
		}
		
		.disclaimer-links .footer-logo {
			margin: 0;
		}
		
		


/* =============================================================================
     Footer Section 4: Site Designer ID
============================================================================= */

#foot-sect4 {
	background: #1b1b1b;
	font-size: 12px;
	text-shadow: 1px 1px 0 rgba(0,0,0,.9);
	text-align: center;
	padding: 20px 0;
	color: #898989;
	width: 100%;
}

	#designer-idblock a {
		color: #f5f5f5;
	}
	#designer-idblock a:hover {
		color: #fff;
		text-decoration: underline;
	}
	
	#designer-idblock br {
		display: none;
	}
	
	/* HTML5 Badge */
	.html5-badge {
		display: block;
		margin: 0 auto 8px;	
	}









	
		
		
		
		


		
	
	





/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
	CSS written by Simon J Lee
	1st Edit 10th August 2012
//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/